ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, #5a00e0, #9752ff);
    float: left !important;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

li {
    float: left;
}

.navbar-button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

* {
    font-family: 'Open Sans', sans-serif;
}

a:hover.navbar-button {
    background-color: #111;
}
.navbar .search-container {
    float: right;
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 8px;
}

.navbar input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
    width: 100%;
}

.navbar .search-container button {
    float: right;
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.navbar .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .navbar .search-container {
        float: none;
    }
    .navbar a, .navbar input[type=text], .navbar .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .navbar input[type=text] {
        border: 1px solid #ccc;
    }
}